{% from "_formhelpers.html" import render_field %}
<p>REGISTERED USER HISTORY</p>
<a href="http://localhost:5000/home">HOME</a> 
<a href="http://localhost:5000/login">LOGIN</a> 
<a href="http://localhost:5000/spell_check">SPELL_CHECK</a>
<a href="http://localhost:5000/register">REGISTER</a>
<a href="http://localhost:5000/history">USER QUERY HISTORY</a>
<a href="http://localhost:5000/login_history">USER LOGIN HISTORY</a>

<form method=post>
  <dl>
<div id=numqueries> Total Queries Made By User: {{numqueries}}</div>
<div id=result>{{error}}
<div id=query#></div>
  </dl>
{%for query in allqueries %}
  <li><a  id="query{{query.queryID}}" href="/history/query{{query.queryID}}">Query #{{query.queryID}}</a></li>
{%endfor %}
    <p><input type=submit name='submit_button' value='Log Out'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>